@import "../globals/colors.scss";
@import "../globals/fonts.scss";
@import "../globals/mixins.scss";

.pageContainer {
    width: 100%;
    padding-top: 20px;
    background-color: black;
    
    
}

.video {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    width: 100%;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
  }

.infoContainer {
    width: 100%;
    // background-color: rgba($color: $colorBlue, $alpha: 0.1);
    background-color: black;
    font-family: $font-KyivTypeSans-Light;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    
        
    
    p {
        margin-bottom: 30px;
        text-align: justify;
        line-height: 1.5;
    }

    .middleContainer {        
        display: flex;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
            justify-content: flex-start;
        }
    }


    .accountsNumbers {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            margin-bottom: 30px;
            font-size: 28px;
        }

        ul {
            
            font-weight: 700;
            margin-bottom: 30px;
    
            li {
                margin-top: 10px;
                // font-weight: 600;
                // color: $colorBlue ;
            }
        }
    }

    .image {
        width: 100%;
        margin-left: 20px;
        text-align: right;
        @include mobile {
            margin:0;
            text-align: center;

        }
        
     }

    
    .mission {
        list-style: square;
        padding: 20px;
        li {
            margin: 10px;
        }
    }
}

.administrationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    
    @include mobile {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    h2 {
        color: white;
        font-size: 38px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .personContainer {        
        padding: 30px 0;
        color: white;
        text-align: center;

        img {
            object-fit: cover;
        }

        p {
            margin-top: 5px;
        }
    }


}
