@import "../globals/colors.scss";

.partnersContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imageContainer {    
    padding: 2px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    border-radius: 7px;
    
    
    .image {
        object-fit: cover;
        border-radius: 7px;
    }    
}